<div id="top">
  <a href="/" id="home-button">
    <img src="/images/invisible.gif" width="122" height="39" alt="Home" />
  </a>
  <div id="semacode-search">
    <form method="get" action="http://www.google.com/search">
      <input type="hidden" name="sitesearch" value="simonwoodside.com" />
      <input type="text" name="q" maxlength="255" value="Search" onblur="if(this.value=='') this.value='Search';"
        onfocus="if(this.value=='Search') this.value='';" />
    </form>
  </div>
</div>
