/* CSS for any of the inside pages.
   Include only this CSS */

@import url('/stylesheets/shared.css');


/*
 * Layout
 ***************************/
div#container { background: url('/images/background/header.png') no-repeat top center; }
div#content { position:absolute; left:219px; top:212px; width:505px; }
div#right-rail { position:absolute; left: 765px; top:235px; width:160px; background:white; }
div#footer { text-align: left; }

/*
 * Inline list
 ***************************/
ul.inline { list-style: none; margin: 0; padding: 0; }
ul.inline li { display: inline; }
ul.inline li:after { content: ","; } 
ul.inline li:last-child:after { content: ""; }

/*
 * Posts and comments
 ***************************/
div.item_content pre {
  overflow:scroll;
}
div.item_details {
  float:left;
  width:170px;
  margin-left:-180px;
}
.item_tags {
  clear: both;
}

/*
 * Errors
 ***************************/
.ror_error {
	font-size: 10px;
	color: red;
}
#comments .errorExplanation {
  font-size: 12px;
  line-height: 16px;
  color: #bd0200;
  padding: 10px;
	border: 1px solid #bd0200;
	margin: 5px 0;
	background-color: #fffaf9;
}
#comments .errorExplanation h2 {
	font-size: 14px;
	margin-top: 0;
	color: #bd0200;
	font-weight: bold;
}
#comments .errorExplanation ul {
	margin: 0;
}
