/* Shared styles.
   Include this from another CSS, not directly from HTML.
   */

/*
 * Layout
 ***************************/

body { top: 0;  margin:0; }
div#container { position: relative; width: 950px; height: 700px; margin: 0 auto; }
a#home-button { position:absolute; left:21px; top:19px; width:232px; height:129px; }
div#semacode-search { position:absolute; left:765px; top:28px; width:100px; height:20px; }
div#semacode-search input { background: none; border: none; font: 11px Arial, sans-serif; color: rgb(76,76,76); }

div#footer { clear: both; text-align: center; font-size: 11px; color: #777; padding-top: 40px; padding-bottom: 40px; }
div#footer p { margin: 0; padding: 0; }

/*
 * Main Nav
 ***************************/
a#blog-button { position:absolute; left:276px; top:28px; }
a#business-button { position:absolute; left:382px; top:28px; }
a#gallery-button { position:absolute; left:276px; top:83px; }
a#software-button { position:absolute; left:382px; top:83px; }




/*
 * Body
 ***************************/
body {
	font: normal 16px/19px "Times New Roman", "Times Roman", Times, Serif;
	margin: 0; 
	padding: 0;
}

img, img a { border: none; background: none; }

p { margin: 0; padding: 0; margin-bottom: 15px; }


/*
 * Headers
 ***************************/
h1, h2, h3, h4 {
/*  font-family: "News Gothic MT", "News Gothic", Arial, Helvetica, Sans-serif;*/
  font-weight:normal;
  margin: 0; padding: 0;
}
h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
h3 {
  font-size:24px;
  line-height:30px;
}
h4, .item_meta {
  font-size: 12px;
  color: #777;
  font-weight: normal;
}
.item_meta {
  padding-bottom: 40px;
}

/*
 * Links
 ***************************/
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/*
 * Forms
 ***************************/
div#content form { margin-top: 5px; margin-bottom: 5px; }
div#content label {
  font-family: "News Gothic MT", "News Gothic", Arial, Helvetica, Sans-serif;
  width: 130px;
  float: left;
  text-align: right;
  margin-right: 10px;
  display: block
}
div#content input {
  background: #eaeaea;
  border: 1px solid #aaa;
  padding: 2px;
  margin-bottom: 5px;
}
div#content div.submit input {
  margin-left: 140px;
  background: #eaeaea;
  border: 2px outset #888;
}
div#content input.text { width: 260px; }

/*
 * Misc
 ***************************/
br {
	clear: both;
}
code {
	font-family: Monaco, 'Courier New', Courier, monospace;
	font-size: 12px;
	color: #000;
}
blockquote {
	color: #000;
}


/*
 * Warn Bad Browsers
 ***************************/
#warn_bad_browsers {
	padding: 8px;
	background-color: #990000;
	width: 100%;
	margin: 0;
	font-size: 11px;
	color: #fff;
	border-bottom: 1px solid #000;
}
#warn_bad_browsers b {
	font-weight: bold;
}
