<div id="feed-stream">
  <% cache do %>
    <%
      lastday = -1
      @aggregate.each do |item| %>
        <div class="item">
        <%
          mydate = item[:feed_item][:published].getlocal
          if mydate.yday != lastday
            %><div class="item_details"><p style="text-align:right"><%= mydate.strftime('%A, %B %e') %></p></div><%
            lastday = mydate.yday
          end
        %>
          <div class="item_content">
            <%= item[:feed_title] %>
            <a href="<%= item[:feed_item][:link] %>"><%= item[:feed_item][:title] %></a>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
