<div id="footer">
  <p>All content
    &copy; 2002-2007 Semacode Corporation.
    All rights reserved.
  </p>
  <p>
    Semacode is a trademark of Semacode Corporation.
    <a href="/company/contact">Contact Us</a>
  </p>
</div>
