<div id="right-rail">
  <p>
    Simon &amp; Woodside are the founders of <a href="http://semacode.com">Semacode</a> and
    are alumni of <a href="http://uwaterloo.ca/">UW</a> and <a href="http://www.apple.com/">Apple</a>, etc.
  </p>
  <p>To your left: a summary of all S&amp;W-related feeds.</p>
  <p><a href="http://simonwoodside.com/archives">Simon Says weblog archives</a></p>
</div>
